.wb-organizersBlock{
    padding: 25px 64px 100px 64px;
    background-color: #f7f7f7;
}
.wb-organizersTitle h2{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    color: #1F2C4C;
    margin-bottom: 75px;
}
.wb-organizersContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 5%;

}
.wb-organizersImageBlock {
    flex-basis: calc(30% - 3%);
}
.wb-organizersImageBlock img{
    width: 100%;

}

@media screen and (max-width: 756px){
    .wb-organizersContent{

        gap: 50px 0;

    }
    .wb-organizersImageBlock{
        flex-basis: 60%;
    }
}