.wb-greenovateBlock{
    background-color: rgba(247, 247, 247, 1);
}
.wb-greenovateContent{
    display: flex;
    gap: 0 40px;
}
.wb-greenovateContentImageBlock{
    flex-basis: 35%;
}
.wb-greenovateContentImageBlock img{
    width: 100%;
    border-radius: 23px;
}
.wb-greenovateContentInfoBlock{
    margin-top: 20px;
    flex-basis: 50%;
}
.wb-greenovateContentInfoBlock p{
    font-size: 24px;
    color: rgba(31, 44, 76, 1);
    font-weight: 400;
    margin-bottom: 25px;
}
.wb-greenovateContentInfoBlock ul li{
    list-style-type: disc;
    color: rgba(31, 44, 76, 1);
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 5px;
}
.wb-greenovateContentInfoBlock ul li::marker{
    color: rgba(31, 44, 76, 1);
}
.wb-mobilePartner{
    display: none;
}
.wb-greenovatePartners{
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid rgba(31, 44, 76, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px ;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
.wb-greenovatePartners div:nth-child(1),.wb-greenovatePartners div:nth-child(2),.wb-greenovatePartners div:nth-child(3),.wb-greenovatePartners div:nth-child(4),.wb-greenovatePartners div:nth-child(5){
    flex-basis: 20%;
}
.wb-greenovatePartners div{
    flex-basis: 17%;
    text-align: center;
}
.wb-greenovatePartners div img{
    max-width: 100%;
}



@media screen  and (max-width: 1368px){
    .wb-greenovateContentInfoBlock p{
        font-size: 18px;
    }
    .wb-greenovateContentInfoBlock ul li{
        font-size: 18px;
    }
    .wb-greenovatePartners{
        gap: 40px;

    }
    .wb-greenovatePartners div:nth-child(5){
        flex-basis:   20%;
    }
    .wb-greenovatePartners div:nth-child(6){
        flex-basis:   20%;
    }
    .wb-greenovatePartners div:nth-child(7){
        flex-basis:   6%;
    }
    .wb-greenovatePartners div:nth-child(8){
        flex-basis:   6%;
    }
    .wb-greenovatePartners div:nth-child(9){
        flex-basis:   20%;
    }
}
@media screen  and (max-width: 1024px){
    .wb-greenovateContentImageBlock{
        text-align: center;
    }
    .wb-greenovateContentImageBlock img{
        width: 60%;
    }
    .wb-greenovateContent{
        flex-direction: column;
    }
    .wb-greenovateContentInfoBlock p{
        font-size: 22px;
    }
    .wb-greenovateContentInfoBlock ul li{
        font-size: 20px;
    }


}

@media screen  and (max-width: 756px){
    .wb-greenovateContentImageBlock img{
        width: 80%;
    }
}

@media screen  and (max-width: 600px){
    .wb-greenovateContentImageBlock img{
        width: 100%;
    }
    .wb-greenovateContentInfoBlock p{
        font-size: 15px;
    }
    .wb-greenovateContentInfoBlock ul li{
        font-size: 15px;
    }
    .wb-middleLinePartners{
        flex-basis: 45%;
        text-align: center;
    }
    .wb-greenovatePartners{
        gap: 15px;
    }

    .wb-greenovatePartners div:nth-child(1){
        flex-basis:  45%;
    }
    .wb-greenovatePartners div:nth-child(2){
        flex-basis:   45%;
    }
    .wb-greenovatePartners div:nth-child(3){
        flex-basis:  45%;
    }
    .wb-greenovatePartners div:nth-child(4){
        flex-basis:   45%;
    }
    .wb-greenovatePartners div:nth-child(5){
        flex-basis:   20%;
    }
    .wb-greenovatePartners div:nth-child(6){
        flex-basis:   20%;
    }
    .wb-greenovatePartners div:nth-child(7){
        flex-basis:   6%;
    }
    .wb-greenovatePartners div:nth-child(8){
        flex-basis:   6%;
    }
    .wb-greenovatePartners div:nth-child(9){
        flex-basis:   20%;
    }


}

