
.wb-wineTechContent{
    display: flex;

    gap: 0 40px;
}
.wb-wineTechContentImageBlock{
    flex-basis: 35%;
}
.wb-wineTechContentImageBlock img{
    width: 100%;
    border-radius: 23px;
}
.wb-wineTechContentInfoBlock{
    margin-top: 20px;
    flex-basis: 50%;
}
.wb-wineTechContentInfoBlock p{
    font-size: 24px;
    color: rgba(31, 44, 76, 1);
    font-weight: 400;
    margin-bottom: 25px;
}
.wb-wineTechContentInfoBlock ul li{
    list-style-type: disc;
    color: rgba(31, 44, 76, 1);
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 5px;
}
.wb-wineTechContentInfoBlock ul li::marker{
    color: rgba(31, 44, 76, 1);
}
.wb-WineButtonBlock{
    text-align: center;
    margin-top: 65px;
}
.wb-winePartners{
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid rgba(31, 44, 76, 1);
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-bottom: 40px;
}

@media screen  and (max-width: 1368px){
    .wb-wineTechContentInfoBlock p{
        font-size: 18px;
    }
    .wb-wineTechContentInfoBlock ul li{
        font-size: 18px;
    }
    .wb-winePartners{
        gap: 40px;

    }
}
@media screen  and (max-width: 1024px){
    .wb-wineTechContentImageBlock{
        text-align: center;
    }
    .wb-wineTechContentImageBlock img{
        width: 60%;
    }
    .wb-wineTechContent{
     flex-direction: column;
    }
    .wb-wineTechContentInfoBlock p{
        font-size: 22px;
    }
    .wb-wineTechContentInfoBlock ul li{
        font-size: 20px;
    }
}
@media screen  and (max-width: 756px){
    .wb-wineTechContentImageBlock img{
        width: 80%;
    }
    .wb-winePartners{
        flex-wrap: wrap;
    }
}
@media screen  and (max-width: 600px){
    .wb-wineTechContentImageBlock img{
        width: 100%;
    }
    .wb-wineTechContentInfoBlock p{
        font-size: 15px;
    }
    .wb-wineTechContentInfoBlock ul li{
        font-size: 15px;
    }
    .wb-WineButtonBlock{
        margin-top: 30px;
    }
}

@media screen  and (max-width: 445px){
    .wb-winePartners img:nth-child(1){
        max-width: 143px;
    }
    .wb-winePartners img:nth-child(2){
        max-width: 105px;
    }
    .wb-winePartners img:nth-child(3){
        max-width: 42px;
    }
    .wb-winePartners img:nth-child(4){
        max-width: 148px;
    }
}
@media screen  and (max-width: 361px){
    .wb-winePartners img:nth-child(1){
        max-width: 135px;
    }
    .wb-winePartners img:nth-child(2){
        max-width: 95px;
    }
    .wb-winePartners{
        gap: 25px;

    }
}