.wb-titleBlock{
    padding-top: 45px;
    padding-bottom: 35px;
}
.wb-title{
    color: rgba(31, 44, 76, 1);
    font-size: 36px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 900;
    font-family: "Source Sans Pro";

}
.wb-titleDate{
    margin-top: 0;
    text-align: center;
    color: rgba(31, 44, 76, 1);
    opacity: 0.4;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 1368px){
    .wb-title{
        font-size: 26px;
    }
    .wb-titleDate{

        font-size: 16px;
    }
}

@media screen  and (max-width: 1024px){
    .wb-title{
        font-size: 26px;
        text-align: left;
    }
    .wb-titleDate{
        font-size: 16px;
        text-align: left;
    }
}