.wb-mobileShowImage{
    display: none;
}
.wb-rallyContentBlock{
    display: flex;
}
.wb-rallyContentInfo{
    flex-basis: 48%;
}
.wb-rallyContentInfo p{
    color: rgba(31, 44, 76, 1);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 90%;
}
.wb-rallyContentImageBlock{
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}
.wb-rallyContentImageBlock img{
    width: 50%;
    border-radius: 25px;
}
.wb-rallyPartners{
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid rgba(31, 44, 76, 1);
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-bottom: 40px;
}

@media screen  and (max-width: 1368px){
    .wb-rallyContentInfo p{
        font-size: 18px;
    }
    .wb-rallyPartners{
        gap: 40px;
    }
}

@media screen  and (max-width: 1024px){
    .wb-rallyContentBlock{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .wb-rallyContentInfo p{
        font-size: 22px;
        max-width: 100%;
    }
}
@media screen  and (max-width: 657px){
    .wb-rallyPartners{
        gap: 25px;
    }
    .wb-rallyPartners img{
        max-width: 100px;
        max-height: 40px;
    }
}
@media screen  and (max-width: 600px){
    .wb-rallyContentBlock .wb-mobileHiddenImage {
        display: none;
    }
    .wb-rallyContentInfo p{
        font-size: 15px;
    }
    .wb-rallyContentImageBlock img{
        width: 100%;
        max-height: 245px;
    }
    .wb-mobileShowImage{
        flex-basis: 100%;
        display: flex;
        gap: 20px;
    }
    .wb-mobileShowImage img{
        width: 100%;
        border-radius: 25px;
        max-height: 245px;
    }
}