.upcommingNew_teamlead{
    width: 100%;
    max-width: 1920px;
    height: auto;
    position: relative;
    z-index: 20;
}

.upcommingNew_teamlead .subtitle{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 2.2vw;
    line-height: normal;
    color: #000000;
}

.teamleadBanner{
    width: 100%;
    height: 89vh;
    max-height: 909px;
    background: url(./img/bg.png) no-repeat fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.teamleadBannerTop{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 6vh 5.7vw 0vw 0vw;
    background: rgba(0, 0, 0, 0.3);
}

.teamleadBannerTop h2{
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height:normal;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.teamleadBannerBottom{
    display: grid;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self:flex-end;
    justify-self:flex-end;
    width:100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 4.5vh 5.7vw 4.5vh 5.7vw;
}
.teamleadBannerBottom h3,
.teamleadBannerBottom h4{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 2vw;
    line-height: 1.3;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF;
}
.teamleadBannerBottom h4{
    font-weight: 600;
    font-size: 1.7vw;
    border-top: none;
}

/*  */

.teamleadOppartunitis{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 11vh 5.5vw;
}
.teamleadOppartunitis>div{
    margin-top: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.teamleadOppartunitis .opartunnitisItem{
    border: 3px solid rgba(155, 142, 142, 0.3);
}

/*  */
.teamleadGuid{
    padding: 11vh 5.5vw;
}
.teamleadGuid .guidItems>div {
    width: 20vw;
    max-width:400px;
}

/*  */
.teamleadType {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 11vh 5.5vw;
    background: #f6f6f6;
}

.teamleadTypeItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4.5vh;
}
.teamleadTypeItem .card{
    width: 15.85vw;
    height: 21vw;
    max-width: 317px;
    max-height: 420px;
    perspective: 500px;
}
.teamleadTypeItem .front>div{
    width: 6.6vw;
    height: 6.6vw;
    max-width: 135px;
    max-height: 135px;
}
.teamleadTypeItem .front>div>img {
    max-width: 100%;
    max-height: 100%;
}
.teamleadTypeItem .front>h4{
    margin-top: 6.5vh;
}
.teamleadTypeItem .back>p{
    font-size: 1vw;
}
/*  */
.prevTeamLead{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 11vh 5.5vw;
    background: #f7f7f7;
}

.prevTeamLead>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 9vh;
}
.more-less{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.more-less>button{
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 40px;
    color: #808080;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.more-less>button::after{
    content: "\f078";
    font-family: FontAwesome;
    font-size: 15px;
    margin-left: 5px;
    display: flex;
    align-content: center;
}
.prevTeamLead>div.open>.more-less>button::after{
    content: "\f077";
}

.teamLeadPerson{
    width:20%;
    height: 0;
    overflow: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
    transition: all .2s ease-in;
}
.teamLeadPerson:first-child,
.teamLeadPerson:nth-child(2),
.teamLeadPerson:nth-child(3),
.teamLeadPerson:nth-child(4),
.teamLeadPerson:nth-child(5){
    height: auto;
}
.prevTeamLead>div.open>.teamLeadPerson{
    height: auto;
    margin-top: 25px;
}
.teamLeadPerson>div{
    width: 13.85vw;
    height: 13.85vw;
    max-width: 277px;
    max-height: 277px;
}
.teamLeadPerson>div>img{
    max-width: 100%;
    max-height: 100%;
}

.teamLeadPerson>p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 0.85vw;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}
.teamLeadPerson>a{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.teamLeadPerson>a>i::after{
    display: flex;
    width: 14px;
    height: 16px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    content: "\f230";
    color: #757575;
}
.coach>.teamLeadPerson>a>i::after{
    display: flex;
    width: 14px;
    height: 16px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    content: "\f05a";
    color: #757575;
}
/*  */
/* Form */

.teamleadForm_title{
    width: 100%;
    height:12.7vh;
    max-height: 140px;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.teamleadForm_title_body{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:7vh 0px;
}

.teamleadForm_title_body>h3{
    text-align: center;
}

.teamleadForm_title_body>p{
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 1.5;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.textAreaBox.long.extra{
    width: 60vw;
    height: 61vh;
}
.textAreaBox.long>.extra{
    flex-wrap: wrap;
    width: 100%;
    max-width: unset;
    height: fit-content;
    padding: 10px;
    max-height: unset;
    position: inherit;
}
.textAreaBox.long.extra>textarea{
    width: 60vw;
    height: 61vh;
    max-width: 60vw;
    position: inherit;
}
.textAreaBox.long.extra h5{
    font-weight: 300;
    font-size: 1.2vw;
    line-height: normal;
    margin-top: 10px;
    margin-left: 0.5vw;
}



@media (min-width: 2200px){
    
    .upcommingNew_teamlead .subtitle{
        font-size: 48px;
    }
    
    .teamleadBannerTop{
        padding: 60px 110px 0vw 0vw;
    }
    .teamleadBannerTop h2{
        font-size: 60px;
        margin-bottom: 0px;
    }
    .teamleadBannerBottom{
        padding: 50px 110px 50px 110px;
    }
    .teamleadBannerBottom h3,
    .teamleadBannerBottom h4{
        font-size: 45px;
        line-height: 1.3;
    }
    .teamleadBannerBottom h4{
        font-weight: 600;
        font-size: 38px;
        border-top: none;
    }
    
    /*  */
    .teamleadOppartunitis{
        padding:110px 110px;
    }
    .teamleadOppartunitis>div{
        margin-top: 60px;
    }
    
    /*  */

    .teamleadGuid{
        padding:110px 110px;
    }
    /*  */
    .prevTeamLead{
        padding:110px 110px;
    }
    .prevTeamLead>div {
        padding-top: 50px;
    }
    .teamLeadPerson>p{
        font-size: 17px;
    }
    /*  */
    .teamleadType{
        padding:110px 110px;
    }
    
    .teamleadTypeItem{
        margin-top: 50px;
    }
    .teamleadTypeItem .card{
        margin-bottom: 50px;
    }
    .teamleadTypeItem .back>p {
        font-size: 21px;
    }
   
    /* Form */
    
    .teamleadForm_title_body{
        padding:110px 0px;
    }
    
    .teamleadForm_title_body>p{
        font-size: 30px;
    }
    .textAreaBox.long>.extra {
        flex-wrap: wrap;
        width: 100%;
        max-width: 1500px;
    }
    .textAreaBox.long.extra {
        width: 100%;
        max-width: 1500px;
        height: 612px;
    }
    .textAreaBox.long.extra>textarea {
        height: 400px;
        width: 90%;
        max-height: unset;
        min-height: unset;
    }
    .textAreaBox.long.extra h5 {
        font-size: 22px;
    }
    /* End Form */
}


@media (max-width: 1024px){
    .upcommingNew_teamlead .subtitle{
        font-size: 35px;
    }
    .teamleadForm_title .subtitle{
        text-align: center;
    }
    .teamleadBanner{
        background: url(./img/bg.png) no-repeat 0% 100%;
        background-size: 100%;
        background-position: center;
        min-height: 290px;
        height: auto;
    }
    .teamleadBannerTop{
        padding: 30px 40px 0vw 0vw;
    }
    .teamleadBannerTop h2{
        font-size: 35px;
    }
    .teamleadBannerBottom{
        padding: 20px 40px 20px 40px;
    }
    .teamleadBannerBottom h3,
    .teamleadBannerBottom h4{
        font-size: 28px;
        line-height: 1.3;
    }
    .teamleadBannerBottom h4{
        font-weight: 600;
        font-size: 28px;
        border-top: none;
    }
    
    /*  */
    .teamleadOppartunitis{
        padding:50px 50px;
    }
    .teamleadOppartunitis>div{
        margin-top: 60px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /*  */
    .prevTeamLead{
        padding:50px 50px;
    }
    .prevTeamLead>div {
        padding-top: 40px;
    }
    .teamLeadPerson {
        width: 28%;
    }
    .teamLeadPerson>div{
        width: 150px;
        height: 150px;
    }
    .teamLeadPerson>p{
        font-size: 14px;
    }
    .teamLeadPerson:first-child,
    .teamLeadPerson:nth-child(2),
    .teamLeadPerson:nth-child(3),
    .teamLeadPerson:nth-child(4),
    .teamLeadPerson:nth-child(5),
    .teamLeadPerson:nth-child(6){
        height: auto;
        margin-top:25px;
    }
    /*  */
    .teamleadType{
        padding:50px 50px;
    }
    
    .teamleadTypeItem{
        margin-top: 50px;
        justify-content: space-around;
    }

    .teamleadTypeItem .card{
        width:48%;
        height: 280px;
    }

    .teamleadTypeItem .front>h4{
        margin-top: 30px;
    }
    .teamleadTypeItem .back>p{
        font-size: 1vw;
    }
    /*  */
    .teamleadGuid{
        padding:50px 50px;
    }
    .teamleadGuid .guidItems>div {
        width: 100%;
        max-width: unset;
    }
    
    /* Form */
    .teamleadForm_title {
        height: 80px;
    }
    .teamleadForm_title_body{
        padding:50px 0px;
    }
    
    .teamleadForm_title_body>p{
        font-size: 25px;
        padding:0px 30px;
    }
    /* End Form */
    .textAreaBox.long>.extra {
        flex-wrap: wrap;
        width: 100%;
        max-width: 1500px;
    }
    .textAreaBox.long.extra {
        width: 100%;
        max-width: 1500px;
        height: 400px;
    }
    .textAreaBox.long.extra>textarea {
        height: 140px;
        width: 90%;
        max-height: unset;
        min-height: unset;
        top: 10px;
    }
    .textAreaBox.long.extra h5 {
        font-size: 15px;
    }
}



@media (max-width: 599px){
    
    .upcommingNew_teamlead .subtitle{
        font-size: 20px;
    }
    .teamleadBanner{
        background: url(./img/bg.png) no-repeat 15% 0%;
        background-size: 125%;
        min-height: 221px;
        height: auto;
    }
    .teamleadBannerTop{
        padding: 15px 20px 0vw 20px;
    }
    .teamleadBannerTop h2{
        font-size: 23px;
        text-align: left;
    }
    .teamleadBannerBottom{
        padding: 15px 20px 15px 20px;
        justify-content: flex-start;
    }
    .teamleadBannerBottom h3,
    .teamleadBannerBottom h4{
        font-size: 20px;
        line-height: 1.3;
        text-align: left;
    }
    .teamleadBannerBottom h4{
        font-weight: 600;
        font-size: 20px;
        border-top: none;
    }
    
    /*  */
    .prevTeamLead{
        padding:30px 30px;
    }
    .prevTeamLead>div {
        padding-top: 30px;
    }
    .teamLeadPerson {
        width: 48%;
    }
    .teamLeadPerson>div{
        width: 100px;
        height: 100px;
    }
    .teamLeadPerson>p{
        font-size: 12px;
    }
    /*  */
    .teamleadOppartunitis{
        padding:45px 30px;
    }
    .teamleadOppartunitis>div{
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /*  */
    .teamleadType{
        padding:45px 30px;
    }
    
    .teamleadTypeItem{
        margin-top: 30px;
    }
    .teamleadTypeItem .card {
        width: 100%;
    }
    .teamleadTypeItem .front>div {
        width: 120px;
        height: 120px;
    }
    .teamleadTypeItem .back>p {
        font-size: 14px;
    }
    
    /*  */
    .teamleadGuid{
        padding:45px 30px;
    }

    .teamleadGuid .guidItems>div {
        width: 100%;
        max-width: unset;
    }

    /* Form */
    .teamleadForm_title {
        height: 50px;
    }
    .teamleadForm_title_body{
        padding:45px 0px;
    }
    
    .teamleadForm_title_body>p{
        font-size: 20px;
        padding:0px 30px;
    }

    .textAreaBox.long.extra h5 {
        font-size: 12px;
    }
    .textAreaBox.long.extra {
        height: 305px;
    }

 }