.wb-topPartners{
    padding-top: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.wb-topPartners div{
    flex-basis: 100%;
}
.sevan2024-partners .wb-topPartners div img{
    width: 30%;
    max-width: 1000px;
}


.wb-partnersBlock {
    padding: 0 80px 75px 80px !important;
}

.wb-partnersTitle h2 {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    color: #1F2C4C;
    margin-bottom: 50px;
}

.wb-partnersContent {
    display: flex;
    justify-content: center !important;
    flex-flow: row wrap;
    flex-grow: 0;
    gap: 50px;
    margin-top: 50px;
}


.sevan2024-partners .wb-topPartner{
    margin-bottom: 0 !important;
    margin-top: 30px !important;
    justify-content: center;
    gap:15px 55px !important;
}
.sevan2024-partners .wb-topPartner .wb-partner{
    flex-basis: 100% !important;
    display: flex;
    align-items: center!important;
    justify-content: center !important;
    gap: 25px !important;
    margin-bottom: 70px;
    border-top: 1px solid rgba(31, 44, 76, 1);
    padding-top: 60px;
}
.sevan2024-partners .wb-topPartner .wb-partner a{
    cursor: unset !important;
}
.wb-topPartner .wb-partner > div{
    text-align: center;
}
.wb-main-partners .wb-partner {
    flex-basis: calc(14% - 1%);
}

.wb-partner a{
    text-align: center;
}
.wb-partner img{
    max-width: 100%;
    transition: 0.2s;
}
.wb-partner img:hover{
    transform: scale(1.1);
}
.wb-partner p{
    padding-top: 30px;
    text-align: center;
    font-weight: 400;
    color: #9C9C9C;
}
.wb-partner .wb-partnerWithoutPadding{
    padding-top: 4px;
}

@media screen  and (max-width: 1268px){

    .wb-topPartner .wb-partner div a > img{
       max-width: 100% !important;
    }

}

@media screen  and (max-width: 1180px){

    .wb-topPartner .wb-partner div a > img{
        max-width: 95% !important;
    }

}
@media screen  and (max-width: 1024px){
    .wb-partnersBlock{
        padding: 0 30px 37px 30px !important;
    }

    .wb-topPartner .wb-partner div a > img{
        max-width: 100% !important;
    }

}

@media screen and (max-width: 1140px){
    .wb-partner p{
        font-size: 12px;
    }
    .sevan2024-partners .wb-topPartners div img{
        width: 50%;
    }
}

@media screen and (max-width: 756px){
    .wb-partnersBlock {
        padding: 0 25px 40px 25px;
    }
    .wb-topPartners div img{
        width: 70%;
    }

    .wb-partnersContent{
        gap: 50px 5%;
    }
    .wb-topPartner .wb-partner{
        flex-wrap: nowrap !important;
        gap: 30px 0;
        margin-bottom: 30px !important;
    }
    .wb-main-partners .wb-partner {
        flex-basis: calc(20% - 1%);

    }
    .wb-topPartner .wb-partner >div {
        flex-basis: 100% !important;
    }
    .wb-topPartner .wb-partner div a >  img.ggImage{
        max-width: 100% !important;
    }
    .wb-partner p{
        font-size: 12px !important;
        padding-top: 10px;
    }
    .wb-topPartner{
        margin-top: 30px;
        gap: 50px !important;
    }

    .wb-partnersTitle h2{
        font-size: 32px;
        margin-bottom: 25px;
    }
    /*.w-80 img{*/
    /*    width: 80%;*/
    /*}*/
    .w-70 img{
        width: 70%;
    }
    .w-60 img{
        width: 60%;
    }
    .w-50 img{
        width: 50%;
    }
}
@media screen  and (max-width: 480px){
    .wb-topPartners img{
        width: 100% !important;
    }
    .wb-partner p{
        font-size: 6px;
        padding-top: 5px;
    }
    .wb-partnersTitle h2{
        font-size: 24px;
    }
}