/* ALL IN  */
.speakers>div>h3{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 2.4vw;
    line-height: normal;
    color: #000000;
}

.speakerBanner{
    width: 100%;
    height: 89vh;
    max-height: 909px;
    background: url(./img/speakerBg.png) no-repeat fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
    color: #FFFFFF;
}

.speakerBanner h1,
.speakerBanner h2,
.speakerBanner h3,
.speakerBanner h4{
    color: #FFFFFF!important;
}
.speakerBanner h3{
    border-top: 3px solid #ffffff;
}
.speakerBanner .upcommingNewTopFootter{
   background: none;
}

/* END ALL */
.guid{
    width: 100%;
    padding:7.7vh 5vw 4.8vh 5vw;
    display: flex;
    flex-wrap: wrap;
}

.guidItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 9vh;
}


.guidItems>div{
    width: 20.5vw;
    max-width: 407px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.guidItems>div:hover div>img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.scaleBig{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: brightness(0.5);
}

.guidItems>i{
    display: flex;
    width:1.6vw;
    height: 2.5vw;
    max-width:32px;
    max-height: 56px;
    align-self: center;
    background: url('./img/icon/arrow.png') no-repeat;
    background-size: contain;
    align-self: flex-start;
    margin-top: 4vw;
}
.guidItems>div>div{
    width: 10vw;
    height:10vw;
    max-width: 250px;
    max-height:250px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.guidItems>div>div>img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 82%;
    transition: all .4s ease;
}

.guidItems>div>h4{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #878787;
    padding-top: 4.5vh;
}
.guidItems>div>p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    padding-top: 2.7vh;
}

.opportunities{
    width: 100%;
    background: rgba(227, 227, 227, 0.3);
    padding:10vh 5vw 14vh 5vw;
    display: flex;
    flex-wrap: wrap;
}

.opportunitiesItem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 7vh;
}
.card{
    position: relative;
    width: 19.9vw;
    height: 26.25vw;
    max-width: 398px;
    max-height: 525px;
    -webkit-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
    display: flex;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 1s;
}
  
.front{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid rgba(169, 169, 169, 0.3);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.front>div{
    width: 13vw;
    height:13vw;
    max-width: 260px;
    max-height:260px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front>div>img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 82%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front>h4,
.back>h4{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #878787;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid rgba(169, 169, 169, 0.3);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding:3vh 1.3vw 0px 1.3vw;
    transform: rotateY( 180deg );
}
.back>p{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1.4;
    text-align: left;
    color: #000000;
    padding-top: 2vh;
}
/* Form */
.speakerInfo{
    width: 100%;
    padding:7vh 13.7vw 6vh 13.7vw;
    display: flex;
    flex-wrap: wrap;
}

.speakerInfo h3{
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
.speakerInfo p{
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 1.3;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    padding-top: 20px;
}
.speakerTitle{
    width: 100%;
    background: rgba(227, 227, 227, 0.3);
    padding:3.6vh 0px;
}

.speakerTitle>h3{
    width: 100%;
    text-align: center;
}


/* End Form */
    
@media (min-width: 2200px){
    /* ALL IN  */
    .speakers>div>h3{
        font-size: 48px;
    }
    /* END ALL */
    .guid{
        padding:80px 100px 50px 100px;
    }

    .guidItems{
        padding-top: 100px;
    }
    .guidItems>div>h4{
        font-size: 28px;
        padding-top: 50px;
    }
    .guidItems>i{
        margin-top: 70px;
    }
    .guidItems>div>p{
        font-size: 25px;
        padding-top: 30px;
    }

    .opportunities{
        padding:100px 100px 120px 100px;
    }

    .opportunitiesItem{
        padding-top: 80px;
    }
    .front>h4,
    .back>h4{
        font-size: 22px;
    }
    .back{
        padding:33px 28px 0px 28px;
    }

    .back>p{
        font-size: 22px;
        padding-top: 22px;
    }
    /* Form */
    .speakerInfo{
        padding:120px 270px 9vh 270px;
    }
    .speakerInfo p{
        font-size: 30px;
    }
    .speakerTitle{
        padding:40px 0px;
    }
}

@media (max-width: 1024px){
    .speakerBanner{
        background: url(./img/speakerBg.png) no-repeat 0% 40%;
        background-size: 100%;
        min-height: 300px;
        height: auto;
        align-content: space-between;
    }
    /* ALL IN  */
    .speakers>div>h3{
        font-size: 35px;
    }
    /* END ALL */
    .guid{
        padding:40px 50px 40px 50px;
    }
    .guidItems{
        padding-top: 30px;
    }
    .guidItems>div {
        width: 100%;
        max-width: initial;
        padding-top: 30px;
    }
    .guidItems>i{
        margin: 10px auto;
        width: 22px;
        height: 36px;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: 30px;
    }
    .guidItems>div>h4{
        font-size: 22px;
        padding-top: 20px;
    }
    .guidItems>div>p{
        font-size: 25px;
        padding-top: 30px;
    }

    .opportunities{
        padding:40px 50px 40px 50px;
    }
    .opportunitiesItem{
        padding-top: 60px;
    }
    .card{
        width: 48%;
        height: 298px;
        margin-bottom: 20px;
    }
    .front{
        justify-items: center;
    }
    .front>div {
        width: 15vw;
        height: 15vw;
    }
    .front>h4,
    .back>h4{
        font-size: 17px;
    }
    .back{
        padding:10px 11px 0px 5px;
    }

    .back>p{
        font-size: 14px;
        padding-top: 10px;
    }
    /* Form */
    .speakerInfo{
        padding:40px 50px 40px 50px;
    }

    .speakerInfo p{
        font-size: 25px;
    }
    .speakerTitle{
        padding:40px 0px;
    }
   
}

@media (max-width: 599px){
    .speakerBanner{
        /* padding: 50px 20px 0px 0px; */
        background: url(./img/speakerBg.png) no-repeat 0% 0%;
        background-size: 121%;
        min-height: 225px;
        height: auto;
    }
    /* ALL IN  */
    .speakers>div>h3{
        font-size: 27px;
    }
    /* END ALL */
    .guid{
        padding:40px 30px 40px 30px;
    }
    .guidItems{
        padding-top: 25px;
    }
    .guidItems>div {
        width: 100%;
        max-width: initial;
        padding-top: 20px;
    }
    .guidItems>div>div {
        width: 80px;
        height: 80px;
        max-width: initial;
        max-height: initial;
    }
    .guidItems>div>h4{
        font-size: 19px;
        padding-top: 15px;
    }
    .guidItems>div>p{
        font-size: 16px;
        padding-top: 20px;
    }


    .opportunitiesItem{
        padding-top: 30px;
    }
    .card{
        width: 100%;
        max-width: inherit;
        height: 308px;
        margin-bottom: 20px;
    }
    .front>div {
        width: 120px;
        height: 120px;
    }
    .front>h4, 
    .back>h4 {
        font-size: 19px;
    }
    .back{
        padding:10px 25px 0px 25px;
    }
    /* Form */
    .speakerInfo{
        padding:40px 30px 40px 30px;
    }

    .speakerInfo p{
        font-size: 18px;
    }
    .speakerTitle{
        padding:10px 0px;
    }
}

@media (max-width: 360px){
    .speakerBanner{
        background: url(./img/speakerBg.png) no-repeat 100% 0%;
        background-size: cover;
        height: auto;
    }
}