.agritech-block{
    padding: 0 !important;
}
.agritech-title{
    text-align: center;
}
.agritech-title h2{
    color: rgba(31, 44, 76, 1);
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 6px;
}
.agritech-title p{
    color: rgba(31, 44, 76, 1);
    opacity: 0.4;
    font-size: 16px;
    font-weight: 600;
}

.agritech-mainContent{
    display: flex;
    padding: 36px 0;
    gap: 0 70px;
}
.agritech-imageBlock{
    flex-basis: 45%;
}
.agritech-imageBlock img{
    width: 100%;
    border-radius: 18px;
}
.agritechStats{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.agritechStats div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agritechStats b{
    font-size: 56px;
    font-weight: 900;
    color: rgba(31, 44, 76, 1);
}
.agritechStats span{
    font-size: 12px;
    color: rgba(31, 44, 76, 1);
    opacity: 0.5;
}
.agritech-info{
    flex-basis: 50%;
}
.agritech-info p{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 22px;
    color: rgba(31, 44, 76, 1);
}
.agritech-mainContent ul li,.agritech-secondContent ul li{
    list-style-type: disc;
    color: rgba(31, 44, 76, 1);
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 5px;
}
.agritech-mainContent ul li::marker,.agritech-secondContent ul li::marker{
    color: rgba(31, 44, 76, 1);
}
.agritech-buttonsBlock h6{
    text-align: center;
    color: rgba(31, 44, 76, 1);
    font-size: 13px;
    font-weight: 700;
}
.agritech-buttons{
    display: flex;
    gap: 0 18px;
    justify-content: center;
    margin-top: 16px;
}
.agritech-buttons a button{
    width: 192px;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
}
.agritech-buttons a:first-child button{
    background-color: rgba(47, 128, 237, 1);
    color: #fff ;
}
.agritech-buttons a:last-child button{
    color: rgba(47, 128, 237, 1);
    border: 1px solid rgba(47, 128, 237, 1);
}

/*Second Content*/
.agritech-secondContentBlock{
    margin-top: 38px;
    border-top: 1px solid rgba(31, 44, 76, 1);
}
.agritech-secondContent{
    padding-top: 38px;
    display: flex;
    gap: 0 70px;
}
.agritech-secondContentInfo{
    flex-basis: 48%;
}
.agritech-secondContentInfo p{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 25px;
}
.agritech-secondContentInfo ul li{
    font-size: 22px;
}
.agritechSecondContentImageBlock{
    flex-basis: 45%;
}
.agritechSecondContentImageBlock img{
    width: 100%;
    border-radius: 18px;
}

/*Agritech Partners*/

.agritech-partners{
    border-top: 0.5px solid rgba(31, 44, 76, 1);
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 126px;
    padding-bottom: 20px;
}
.agritech-partners img{
    max-width: 200px;
}

@media screen  and (max-width: 1368px){
    .agritech-info p{
        font-size: 18px;
    }
    .agritechStats{
        margin-top: 10px;
    }
    .agritechStats b{
        font-size: 36px;
        margin-left: 15px;
    }
    .agritech-secondContent{
        padding-top: 0;
    }
    .agritech-secondContentInfo p{
        font-size: 18px;
    }
    .agritech-secondContentInfo ul li{
        font-size: 18px;
    }
    .agritech-partners{
        gap: 40px;
    }
    .agritech-partners img{
        max-width: 150px;
    }
}
@media screen  and (max-width: 1160px){
    .agritech-info p{
        font-size: 16px;
    }
    .agritech-partners img{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen  and (max-width: 1024px){
    .agritech-info p{
        font-size: 22px !important;
    }
    .agritechStats{
        margin-top: 10px;
    }
    .agritechStats b{
        font-size: 36px;
    }
    .agritech-mainContent{
        flex-direction: column;
    }
    .agritech-imageBlock img{
        width: 100%;
    }
    .agritech-imageBlock {
        text-align: center;
    }
    .agritechStats{
        background-color: rgba(125, 193, 66, 1);
        justify-content: center;
        padding: 20px 50px;
        border-radius: 13px;
    }
    .agritechStats b{
        font-size: 36px;
        color: #fff;
    }
    .agritechStats span{
        color: #fff;
    }
    .agritech-info{
        margin-top: 20px;
    }
    .agritech-info p{
        font-size: 15px;
    }
    .agritech-buttons{
        flex-direction: row !important;
        align-items: center;
        gap: 8px 12px !important;
    }
    .agritech-buttons button{
        font-size: 11px;
        max-width: 146px;
    }
    .agritech-partners{
        flex-wrap: wrap;
        gap: 23px 0;
    }
    .agritech-partners div{
        flex-basis: 33%;
        text-align: center;
    }
    .agritech-partners img{
        max-width: 100%;
        max-height: 50px !important;
        width: auto;
        height: auto;
    }


/*    Second content*/

    .agritech-secondContent{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .agritech-secondContentInfo p{
        font-size: 22px;
    }
    .agritech-secondContentInfo ul li{
        font-size: 20px;
    }
}

@media screen  and (max-width: 856px){
    .agritech-info p{
        font-size: 22px;
    }
    .agritechStats b{
        font-size: 36px;
    }
    .agritech-buttons button{
        width: 191px;
        height: 32px;
        font-size: 10px;
    }
}

@media screen  and (max-width: 756px){
    .agritech-mainContent{
        flex-direction: column;
    }
    .agritech-imageBlock img{
        width: 100%;
    }
    .agritech-imageBlock {
        text-align: center;
    }
    .agritechStats b{
        font-size: 36px;
    }
    .agritech-info{
        margin-top: 20px;
    }
    .agritech-info p{
        font-size: 15px;
    }
    .agritech-buttons{
        flex-direction: column;
        align-items: center;
        gap: 8px 0;
    }
    .agritech-buttons button{
        font-size: 11px;
    }
    .agritech-partners{
        flex-wrap: wrap;
        gap: 23px 5px;
    }
    .agritech-partners div{
        flex-basis: 30%;
        text-align: center;
    }
    .agritech-partners img{
        max-width: 110px;
        max-height: 50px;
    }
}

@media screen and (max-width: 600px){
    .agritech-info p{
        font-size: 15px !important;
    }
    .agritech-mainContent ul li{
        font-size: 15px;
    }
    .agritechStats b{
        font-size: 24px;
    }


    .agritech-secondContentInfo p{
        font-size: 15px;
    }
    .agritech-secondContentInfo ul li{
        font-size: 15px;
    }
    .agritech-partners img{
        max-width: 90px;
        max-height: 50px;
    }

}